<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Партнерская программа "Зарабатывай с нами"</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
  <header class="main-header">
    <div class="uk-container">
      <div class="main-header__inner">
        <a href="#" class="main-header__logo">
          <img src="../img/logo.svg" alt="">
        </a>
        <a class="main-header__tel" href="tel:+79204536554">
          +7 920 453 65 54
        </a>
      </div>
    </div>
  </header>
  <main class="home">
    <header class="intro">
      <div class="uk-container">
        <div class="intro__inner">
          <h1 class="intro__title-block">
            <span class="intro__subtitle">Партнерская программа</span>
            <span class="intro__title">Зарабатывай с нами</span>
          </h1>
        </div>
      </div>
    </header>
    <section class="steps">
      <div class="uk-container">
        <h2 class="steps__title section-title section-title_dark">
          Как это работает
        </h2>
        <ol class="steps__list">
          <li class="step-item step-item_advice">
            <div class="step-item__img"></div>
            <div class="step-item__text">
              <h3 class="step-item__title">
                Посоветуй нас
              </h3>
              <div class="step-item__desc">
                За 7 лет мы разработали ряд удобных рекламных форматов — от традиционных баннеров до витрин, в которых
                вы можете настраивать абсолютно все.
              </div>
            </div>
          </li>
          <li class="step-item step-item_buyout">
            <div class="step-item__img"></div>
            <div class="step-item__text">
              <h3 class="step-item__title">
                Мы выкупаем авто
              </h3>
              <div class="step-item__desc">
                За 7 лет мы разработали ряд удобных рекламных форматов — от традиционных баннеров до витрин, в которых
                вы можете настраивать абсолютно все.
              </div>
            </div>
          </li>
          <li class="step-item step-item_money">
            <div class="step-item__img"></div>
            <div class="step-item__text">
              <h3 class="step-item__title">
                Вы получаете деньги
              </h3>
              <div class="step-item__desc">
                За 7 лет мы разработали ряд удобных рекламных форматов — от традиционных баннеров до витрин, в которых
                вы можете настраивать абсолютно все.
              </div>
            </div>
          </li>
        </ol>
      </div>
    </section>
    <section class="advice">
      <div class="uk-container">
        <h2 class="advice__title section-title section-title_dark">
          Как посоветовать
        </h2>
        <ul class="advice__list">
          <li class="advice-item">
            <h3 class="advice-item__title">
              Зарегистрируйся
            </h3>
            <div class="advice-item__desc">
              укажи свои данные,
              заполнив простую <a href="#">форму</a>
            </div>
          </li>
          <li class="advice-item">
            <h3 class="advice-item__title">
              Размести ссылку
            </h3>
            <div class="advice-item__desc">
              <ul>
                <li>На своём сайте</li>
                <li>В социальных сетях</li>
                <li>В своём блоге</li>
              </ul>
            </div>
          </li>
          <li class="advice-item">
            <h3 class="advice-item__title">
              Сообщи кодовое слово
            </h3>
            <div class="advice-item__desc">
              Все кто назовет ваше кодовое слово
              получит скидку
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="workflow">
      <div class="uk-container">
        <h2 class="workflow__title section-title section-title_light">
          Как мы выкупаем авто
        </h2>
        <ol class="workflow__list">
          <li class="workflow__item">
            Клиент звонит по вашей рекомендации
          </li>
          <li class="workflow__item">
            Называет кодовое слово
          </li>
          <li class="workflow__item">
            Получает скидку 5000 рублей
          </li>
          <li class="workflow__item">
            Мы оформляем сделку
          </li>
        </ol>
      </div>
    </section>
    <section class="reward">
      <div class="uk-container">
        <h2 class="reward__title section-title section-title_dark">
          Как получить деньги
        </h2>
        <div class="reward__subtitle">
          Вы можете получить деньги несколькими способами
        </div>
        <ul class="reward__list">
          <li class="reward-item reward-item_card">
            <h3 class="reward-item__title">
              На карту
            </h3>
          </li>
          <li class="reward-item reward-item_mobile">
            <h3 class="reward-item__title">
              На счет мобильного
              телефона
            </h3>
          </li>
          <li class="reward-item reward-item_electronic-money">
            <h3 class="reward-item__title">
              Электронными деньгами
            </h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="registration">
      <div class="uk-container">
        <h2 class="registration__title section-title section-title_light">
          Регистрация в программе
        </h2>
        <form class="form-registration">
          <label class="form-registration__label">
            <input class="form-registration__input js-register-input" type="text" name="name" required>
            <span class="form-registration__label-text">
              Ваше имя
            </span>
          </label>
          <label class="form-registration__label">
            <input class="form-registration__input js-register-input" type="tel" name="tel" required>
            <span class="form-registration__label-text">
              Телефон
            </span>
          </label>
          <label class="form-registration__label">
            <input class="form-registration__input js-register-input" type="email" name="email" required>
            <span class="form-registration__label-text">
              Email
            </span>
          </label>
          <label class="form-registration__checkbox">
            <input class="form-registration__checkbox-input" type="checkbox" required checked>
            <span class="form-registration__checkbox-text">
              Согласие на обработку <a href="#">персональных данных</a>
            </span>
          </label>
          <button class="form-registration__submit" type="submit">отправить</button>
        </form>
        <a class="registration__rules" href="#">
          <svg class="registration__rules-text-path" viewBox="0 0 226 113">
            <defs>
              <path id="path" d="M30,104s27-59,76-59c66,0,83,57,83,57" />
            </defs>
            <text class="registration__rules-text">
              <textPath xlink:href="#path">Скачать
                правила участия</textPath>
            </text>
          </svg>
        </a>
      </div>
    </section>
  </main>
  <footer class="main-footer">
    <div class="uk-container">
      <div class="main-footer__inner">
        <div class="main-footer__links">
          <a class="main-footer__link" href="#">Политика конфиденциальности</a>
          <a class="main-footer__link" href="#">Персональные данные</a>
        </div>
        <a class="main-footer__logo" href="#">
          <svg width="125" height="40" fill="#0c243c" viewBox="0 0 936 316">
            <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                  C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                  l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                  C102.1,120.4,103.2,124.4,101.5,127.5z" />
            <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                  C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                  c3.2-1.7,7.1-0.6,8.h8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z" />
            <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                  s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                  c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z" />
            <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z" />
            <text style="font-family: 'Open Sans', sans-serif;
                font-size: 110px; fill: #0c243c;" x="400" y="130">Сделано в</text>
            <text style="font-family: 'Open Sans', sans-serif;
                font-size: 110px; letter-spacing: 3px; fill: #0c243c;" x="400" y="270" textLength="550">#avsweb</text>
          </svg>
        </a>
      </div>
    </div>
  </footer>
</body>
<script src="../bundle.js"></script>

</html>